<h1>Stores</h1>
<br />
<ul>
<% @stores.each do |store| %>
  <li style="padding-bottom: 15px">
    <span style="font-size: 1.4em; font-weight: bold"><%= link_to store.name, store %></span>
      <br />
      <%# link_to 'Edit', edit_store_path(store) %> |
      <%# link_to 'Destroy', store, confirm: 'Are you sure?', method: :delete %>
  </li>
<% end %>
</ul>