<h1>Lists</h1>
<br />
<ul>
<% @stores.each do |store| %>
  <li style="padding-bottom: 15px">
    <span style="font-size: 1.4em; font-weight: bold"><%= link_to store.name, store %></span>
    <ul>
      <% store.items.each do |item| %>
        <li><%= item.name %> <%= "(#{item.quantity})" if item.quantity > 1 %></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>

<%= link_to 'Create a new list', new_store_path, class: 'btn' %>