<h2><%= @store.name %></h2>

<ul>
  <% @store.items.each do |item| %>
    <li><%= item.name %> <%= "(#{item.quantity})" if item.quantity > 1 %></li>
  <% end %>
</ul>

<%= link_to 'Add Item', new_store_item_path(@store), class: 'btn', id: 'add_item', title: 'Keyboard shortcut: a' %>


<hr />

<script type="text/javascript">
  key('a', function() { document.getElementById('add_item').click(); });
</script>